<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form id="loginForm" action="/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>

    <input type="submit" value="Login">
  </form>
  <script>
    document.getElementById('loginForm').addEventListener('submit', function (event) {
      event.preventDefault(); // Prevent the default form submission
  
      const username = document.getElementById('username').value;
      const password = document.getElementById('password').value;
  
      // Send the login request using fetch
      fetch('/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ username, password })
      })
        .then(response => {
          if (response.ok) {
            return response.json(); // Parse the response as JSON
          } else {
            throw new Error('Login failed. Please try again.'); // Throw an error to be caught in the next `catch` block
          }
        })
        .then(data => {
          const token = data.token;
          console.log(token)
          if (token) {
            window.location.href = '/admin'; // Redirect to the admin page
          } else {
            throw new Error('Login failed. Please try again.'); // Throw an error if the token is missing
          }
        })
        .catch(error => {
          console.error('Error:', error);
          alert(error.message); // Handle login error
        });
    });
  </script>
</body>
</html>
